
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Check ID
            </th>
            <th scope="col" class="px-6 py-3">
                Dataset
            </th>
            <th scope="col" class="px-6 py-3">
                Column
            </th>
            <th scope="col" class="px-6 py-3">
                Check Type
            </th>
            <th scope="col" class="px-6 py-3">
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        {% for check in checks %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ check.id }}
            </th>
            <td class="px-6 py-4">
                {{ check.dataset }}
            </td>
            <td class="px-6 py-4">
                {{ check.column }}
            </td>
            <td class="px-6 py-4">
                {{ check.type }}
            </td>
            <td class="px-6 py-4">
                {{ check.status }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
