<!doctype html>
<html class="h-full bg-white">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"></script>

    <title>{% block title %}Fast Check{% endblock %}</title>
</head>
<body>
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto">
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">⚡ Fast Check</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">Run Data Quality checks at lightning speed </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">

                {% include 'form.html' %}
                <div hx-get="/checks" hx-trigger="load, every 1s">
                    {%include 'checks.html'%}
                </div>

            </div>
        </div>
    </div>
</main>

</body>
</html>


